/* custom styles */

.commentBox{
  width: 60%;
  margin: 0 auto;
}

.comment{
  overflow: auto;
  padding: 1em;
  margin-bottom: 1em;
}

.content-left{
  width:8%;
  float: left;
}
  .profileImageSmall{
    width: 3em;
  }

.content-middle{
  width: 80%;
  float: left;
}
    .content-middle h2{
      margin: 0;
    }
    .content-middle .date{
      font-size: 14px;
      font-weight: lighter;
    }
    .hidden{
      display: none;
    }

    .contentImg{
      margin-left:4em;
    }

.content-right{
  width:12%;
  float: right;
}